# Archivos basura del sistema operativo (Específico de Mac)
.DS_Store
.AppleDouble
.LSOverride

# Archivos de entorno virtual y caché de Python (Para tu script extractor)
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Archivos de configuración local y Secretos (¡CRÍTICO!)
# Aquí guardaremos tu contraseña de la API de Spoonacular para que no se haga pública.
.env

# Dependencias web (En caso de que instalemos Tailwind vía npm más adelante)
node_modules/
